#app {
  .sidebar-container {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidebarWidth;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $sidebarBg;
    transition: width .3s;
    .el-menu--collapse {
      .svg-icon {
        margin-right: 25px;
      }
    }
  }

  .main-container {
    position: relative;
    min-height: 100%;
    margin-left: $sidebarWidth;
    transition: margin-left .3s;
    .main-navbar {
      height: $navBarHeight;
      box-shadow: 1px 1px 3px #ccc;
    }
    .main-app {
      min-height: calc(100vh - 50px);
    }
  }

  /* 隐藏边栏，只显示图标 */
  .hide-sidebar {
    .sidebar-container {
      width: $minSidebarWidth;
    }

    .main-container {
      margin-left: $minSidebarWidth;
    }
  }

  /* 手机模式下 */
  .mobile {
    .sidebar-container {
      transition: transform .3s;
      width: $sidebarWidth;
    }

    .main-container {
      margin-left: 0;
    }

    &.hide-sidebar {
      .sidebar-container {
        pointer-events: none;
        transform: translate3d(-$sidebarWidth, 0, 0);
      }
    }
  }

  /* 不载入过渡：防止交叉过渡 */
  .without-animation {
    .sidebar-container,
    .main-container {
      transition: none;
    }
  }
}
