$mainBgc: #edeff2;

/* layout */
// logo
$logoBarBg: #2b2f3a;
$logoBarHeight: 45px;
$logoWidth: 28px;
$titleColor: #fff;

// sidebar
$sidebarBg: #314156;
$sidebarWidth: 200px;
$minSidebarWidth: 70px;

// navBar
$navBarHeight: 40px;